#navBar-logo{
    width: 100px;
    margin-right: 30px;
    filter: drop-shadow(0 0 3px var(--shadowColor1));
}

.me-auto{
    display: flex !important;
    column-gap: 20px !important;
    align-items: center;
    margin-left: 10px;
}
#navBar-title{
    color: (--textColor1);
}

@media (max-width: 1024px) {

    #navBar-title{
        display: none;
    }
}